* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat",sans-serif;
  color: #555;
  font-weight: 400;
  overflow-x: hidden;
  height: 100vh;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background-color: #141414;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
}