/***************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media(max-width: 84em) {
    .hero {
        max-width: 96rem;
    }
}

/***************************/
/* BELOW 1200px (lanscape tablets) */
/**************************/ 
@media (max-width: 75em) {
    /* 9px / 16px =  56.25%*/
    html {
        font-size: 56.25%;
    }

     .navbar {
        width: 90%;
     }

    
}

/***************************/
/* BELOW 944px (Tablets) */
/**************************/ 
@media(max-width: 59em) {
     /* 8px / 16px = 0.5 */
     html {
        font-size: 50%;
     }

     .navbar {
        width: 90%;
        position: relative;
      
     }

     .hero-content-heading {
        font-size: 3.6rem;
     }

     /* .hero-content-paragrph {
        font-size: 1.3rem;
     } */

     .main-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .main-nav-link {
      color: #fff;
     }

    
     
  /* MObile Navigation */ 

  .navbar-btn-mobile-view {
   display: block;
   z-index: 1000;
  }

  .main-nav {
   background-color: #333;
   position: absolute;
   top: 8rem;
   left: 0rem;
   height: 50vh;
   transform: translateX(100%);

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 2rem;
   width: 100%;
   border-radius: 2rem;

   opacity: 0;
   visibility: hidden;
  }

  .open-nav .main-nav {
   opacity: 1;
   visibility: visible;
   transform: translate(0);
  }

  .open-nav .navbar-btn-moile-icon[name="menu-outline"] {
    display: none;
}

  .open-nav .navbar-btn-moile-icon[name="close-outline"] {
    display: block;
}

   
  /* .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }


  .main-nav {
    background-color: #1d1c1c;
    position: absolute;
    top: 8rem;
    left: 0;
    height: 76vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 11rem;
    width: 100%;
    border-radius: 2rem;


    opacity: 0;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    transform: translate(0);

  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  } */


  

}

/***************************/
/* BELOW 544px (Phone) */
/**************************/

@media(max-width: 34em) {

    /* .navbar {
        padding: 1rem;
    } */

    .logo-span {
        font-size: 1.6rem;
    }

    .hero-content-heading {
        font-size: 3.2rem;
     }

     .hero-content-paragrph {
        font-size: 1.2rem;
     }
     
     
     .hero-content {
        width: 40%;
      }
     

     .hero-img {
        width: 30%;
     }

     .hero-section {
      padding: 2.4rem 0 6.4rem 0;
     }
}
