/* the navbar */


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 2rem 2rem;
    background-color: #fffffff7;
    position: fixed;
    top: 3rem;
    right: 0;
    left: 0;
    

    /* box-shadow: 0 -1.5rem 4.8rem rgba(0, 0, 0, 0.075); */
    z-index: 1000;
    border-radius: 90rem;
    border: 1px solid #5555551c;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-btn-icon {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/* the logo */
.logo-span {
    font-size: 2rem;
    color: #555;
    font-weight: bold;
}

/* the nav list and links */
.main-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.main-nav-link {
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.main-nav-link:hover, 
.main-nav-link:active {
    border-bottom: 1px solid #555;
}

/* the nav icon */

.navbar-icon {
    height: 2.8rem;
    width: 2.8rem;
    color: #555;
}

/* for the button */

.btn-main-nav-link {
    color: #fff;
}

/* MOBILE NAV */

.navbar-btn-mobile-view {
    border: none;
    outline: none;
    background: none;

    display: none;
}

.navbar-btn-moile-icon {
    width: 2.8rem;
    height: 2.8rem;
    color: #555;
}

.navbar-btn-moile-icon[name="close-outline"] {
    display: none;
}

/* .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 2.8rem;
    width: 2.8rem;
    color: #555;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
} */

/* hero section */
.hero-section {
    padding: 4.8rem 0 9.6rem 0;
     margin-bottom: 1rem;
}

.hero {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    gap: 3.2rem;
    margin-top: 9.6rem;
    width: 1200px;
}

.hero-content {
    width: 70%;
}


.hero-content-span {
    font-size: 1.6rem;
    background-color: #0cff2011;
    padding: 0.2rem 2.5rem;
    color: #00ff40;
    display: flex;
    align-items: center;
    display: inline-flex;
    gap: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.hero-content-heading {
    font-size: 5.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.hero-content-paragrph {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 600;

}

.hero-content-btn {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-img {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin-bottom: 2rem;
   
} 

.hero-content-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.hero-content-btn-1 {
    background-color: #fff;
    border: 1px solid #555;
    color: #555;
    font-size: 1.6rem;
    font-weight: 500;
}

/*  */